@import "../bootstrap/dist/css/bootstrap.min.css";

.nav-mobile{
    display: none;
}

#inicio{
    height: 100vh;
    padding: 35vh 0 0 0;
}

#inicio::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    background: url('../assets/img/marca_d\'agua.png') no-repeat center;
    background-size: contain; /* Ajuste conforme necessário: cover, contain, etc. */
    opacity: 0.18; /* Ajuste a opacidade conforme necessário */
    pointer-events: none; /* Para garantir que a marca d'água não interfira nas interações com o conteúdo */
}

.typewriter {
    font-size: 2em;
    border-left: .15em solid #198754;
    padding: 0 0 0 5px;
}

.blink {
    margin-left: 5px;
    animation: blink 2s steps(1) infinite;
}

@keyframes blink {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}    from { opacity: 1; }

h2{
    font-size: calc(1.325rem + .9vw);
}

.bi-fill{
    width: 50px;
    height:50px;
    fill: #198754;
}

.bi-text{
    font-size: 1.25rem;
}

#quemsomos{
    height: 100vh;
    padding: 32vh 0 0 0;
}

#faleconosco{
    height: 100%; 
    padding: 18vh 0 0 0;
}

.form-control:focus{
    border-color: #198754;
}

.form-select:focus{
    border-color: #198754;
}

.footer{
    margin: 1vh 0 0 0;
    height: 20vh;
}

.logo-footer{
    width: 250px;
    height:50px;
}

@media (max-width: 767px) {

    #inicio::before {
        content: "";
        position: absolute;
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
        background: url('../assets/img/marca_d\'agua.png') no-repeat center;
        background-size: contain; /* Ajuste conforme necessário: cover, contain, etc. */
        opacity: 0.18; /* Ajuste a opacidade conforme necessário */
        pointer-events: none; /* Para garantir que a marca d'água não interfira nas interações com o conteúdo */
    }

    .nav-mobile{
        display: block;
    }

    .nav-desk{
        display: none;
    }

    h2{
        font-size: calc(1rem + .4vw);
    }

    .bi-text{
        font-size: calc(.7rem + .3vw);
    }

    #faleconosco{
        height: 100%; 
        padding: 20vh 0 0 0;
    }
}
