@import "../bootstrap/dist/css/bootstrap.min.css";

#inicio{
    height: 100vh;
    padding: 35vh 0 0 0;
}

.typewriter {
    font-size: 2em;
    white-space: nowrap;
    border-left: .15em solid #198754;
    padding: 0 0 0 5px;
}

.blink {
    margin-left: 5px;
    animation: blink 2s steps(1) infinite;
}

@keyframes blink {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}    from { opacity: 1; }

#quemsomos{
    height: 100vh;
    padding: 35vh 0 0 0;
}

#contatos{
    height: 100vh; 
    padding: 20vh 0 0 0;
}

.footer{
    margin-top: 10vh;
    height: 11vh;
}